<mat-drawer-container class="drawer-container" [hasBackdrop]="false" [autosize]="true">

    <!-- Drawer -->
    <mat-drawer
        #drawer
        class="drawer-sidebar"
        [mode]="'side'"
        [opened]="false"
        [position]="'end'">

        <p>Auto-resizing sidenav</p>
        <!-- <router-outlet></router-outlet> -->
        <button mat-raised-button (click)="drawer.close()">
            close
        </button>
        
    </mat-drawer>

    <!-- Content -->
    <mat-drawer-content class="drawer-content">
        
        <loading *ngIf="loading"></loading>

        <header class="p-24">
            
            <custom-icon
                [icon]="'search'"
                [color]="'primary'"></custom-icon>

            <div class="content">
                <h2>Pesquisa</h2>
                <span>
                    Pesquise por recursos disponibilizados no álbum para obter detalhes
                </span>
            </div>

        </header>

        <mat-divider></mat-divider>

        <div class="container p-24">
    
            <div>
                <button type="button" mat-button (click)="drawer.toggle()">
                    Toggle sidenav
                </button>
            </div>

        </div>

    </mat-drawer-content>

</mat-drawer-container>