<mat-drawer-container class="drawer-container" [hasBackdrop]="false" [autosize]="true">

    <!-- Drawer -->
    <mat-drawer
        #drawer
        class="drawer-sidebar"
        [mode]="'side'"
        [opened]="false"
        [position]="'end'">

        <loading *ngIf="true"></loading>

        <p>Auto-resizing sidenav</p>
        <!-- <router-outlet></router-outlet> -->
        <button mat-raised-button (click)="drawer.close()">
            close
        </button>
        
    </mat-drawer>

    <!-- Content -->
    <mat-drawer-content class="drawer-content">
        
        <loading *ngIf="loading"></loading>

        <!-- Header -->
        <header class="p-24">
            
            <custom-icon
                [icon]="'search'"
                [color]="'primary'"></custom-icon>

            <div class="content">
                <h2>Pesquisa</h2>
                <span>
                    Pesquise por recursos disponibilizados no álbum para obter detalhes
                </span>
            </div>

        </header>

        <!-- Divider -->
        <mat-divider></mat-divider>

        <!-- Content -->
        <section class="p-24">
    
            <div class="content">

                <div class="options-grid">
                    
                    <!-- Players -->
                    <app-opcao-pesquisa
                        class="item"
                        [active]="false"
                        [title]="'Jogadores'"
                        [icon]="'person'"
                        (onClicked)="pesquisar('jogador')"></app-opcao-pesquisa>

                    <!-- Stadiums -->
                    <app-opcao-pesquisa
                        class="item"
                        [active]="false"
                        [title]="'Estádios'"
                        [icon]="'stadium'"
                        (onClicked)="pesquisar('estadio')"></app-opcao-pesquisa>

                    <!-- Countries -->
                    <app-opcao-pesquisa
                        class="item"
                        [active]="false"
                        [title]="'Países'"
                        [icon]="'flag'"
                        (onClicked)="pesquisar('pais')"></app-opcao-pesquisa>
    
                </div>

            </div>

        </section>

    </mat-drawer-content>

</mat-drawer-container>