.drawer-container {

    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    // -----------------------------------------------------------------
    // >>> Drawer
    // -----------------------------------------------------------------

    .drawer-sidebar {

        display: block;
        overflow: auto;

        height: 100%;
        max-height: 100%;

        width: 600px;
    }


    // -----------------------------------------------------------------
    // >>> Content
    // -----------------------------------------------------------------

    .drawer-content {
    
        // background: rgb(95,70,158);
        // background: radial-gradient(circle, rgba(95,70,158,1) 0%, rgba(82,191,179,1) 70%);

        display: flex;
        flex-direction: column;
        position: relative;

        // -----------------------------------------------------------------
        // >>> Content Header
        // -----------------------------------------------------------------

        header {

            display: flex;
            flex-direction: row;
            align-items: center;

            .content {
                
                h2 { margin: 0; font-size: 1.35rem; }
                span { color: rgb(100, 100, 100); }

                margin-left: 16px;

                display: flex;
                flex-direction: column;
                gap: 4px;
            }
        }

        // -----------------------------------------------------------------
        // >>> Content section
        // -----------------------------------------------------------------

        section {

            display: flex;
            flex-direction: column;
            overflow: auto;
    
            height: 100%;
            max-height: 100%;

            // -----------------------------------------------------------------
            // >>> Section content (container)
            // -----------------------------------------------------------------

            .content {

                display: flex;
                width: 750px;
                max-width: 100%;
                margin: 0 auto;

                // -----------------------------------------------------------------
                // >>> Container content - options grid
                // -----------------------------------------------------------------

                .options-grid {

                    display: flex;
                    flex-direction: row;
                    gap: 16px;
                    align-items: center;
                    justify-content: space-between;

                    width: 100%;
                    max-width: 100%;
                    
                    .item { width: 100%; }
                }
            }
        }
    
    }
}

.p-24 {
    padding: 24px;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    
    .drawer-sidebar {
        width: 500px !important;
    }
}

/* Responsive Styles */
@media screen and (max-width: 1000px) {
    
    .drawer-sidebar {
        width: 100% !important;
    }
}

/* Responsive Styles */
@media screen and (max-width: 850px) {

    .options-grid {
        flex-direction: column !important;
    }
}
