.rounded-icon {

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 999px;
    overflow: hidden;
    
    width: 52px;
    height: 52px;
}

.rounded-icon.accent {
    background: rgba(var(--accent-rgb), .25);
}
.rounded-icon.primary {
    background: rgba(var(--primary-rgb), .25);
}
.rounded-icon.accent {
    background: rgba(var(--accent-rgb), .25);
}
.rounded-icon.warn {
    background: rgba(var(--warn-rgb), .25);
}