<div class="container">

    <section>

        <mat-form-field [appearance]="'fill'">

            <mat-label>Código</mat-label>

            <input
                matInput
                type="text"
                autocomplete="off"
                placeholder="Ex.: FWC8"
                [formControl]="pesquisa">

            <mat-hint>
                Código da figurinha do estádio
            </mat-hint>

        </mat-form-field>

        <mat-accordion class="">

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <small>Sugestões</small>
                    </mat-panel-title>
                </mat-expansion-panel-header>
          
                <div>

                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip
                            *ngFor="let opcao of preSelecaoOpcoes"
                            [color]="'primary'"
                            [selected]="value == opcao"
                            (click)="preSelecionar(opcao)">{{opcao}}</mat-chip>
                    </mat-chip-list>

                </div>
          
            </mat-expansion-panel>
        </mat-accordion>

        <button mat-raised-button [color]="'primary'" type="button" (click)="pesquisar()">
            Pesquisar
        </button>

    </section>

</div>