<header>
    <h2>{{ estadio?.name }}</h2>
    <small>
        Localizado no Catar, palco da Copa do Mundo FIFA 2022
    </small>
</header>

<div class="alert" *ngIf="estadio?.openingMatch">
        <custom-icon
            [appearence]="'default'"
            [icon]="'join_left'"
            [color]="'primary'"></custom-icon>
        <span>
            Este estádio será o palco do <strong>jogo de abertura</strong>!
        </span>
</div>

<div class="alert" *ngIf="estadio?.finalMatch">
    <custom-icon
        [appearence]="'default'"
        [icon]="'join_right'"
        [color]="'primary'"></custom-icon>
    <span>
        Este estádio será o palco da <strong>final da copa do mundo</strong>!
    </span>
</div>

<div class="content">

    <div class="item">
        <custom-icon
            [appearence]="'default'"
            [icon]="'sticky_note_2'"
            [color]="'primary'"></custom-icon>
        <div>
            <small>Código da figurinha</small>
            <p>
                {{ estadio?.id }}
            </p>
        </div>
    </div>

    <div class="item">
        <custom-icon
            [appearence]="'default'"
            [icon]="'groups'"
            [color]="'primary'"></custom-icon>
        <div>
            <small>Capacidade</small>
            <p>
                {{ estadio?.capacity | number : '1.0-0' }} {{ estadio?.capacity | i18nPlural: {
                    '=1': 'torcedor',
                    'other': 'torcedores'
                } }}
            </p>
        </div>
    </div>

    <div class="row">

        <div class="item">
            <custom-icon
                [appearence]="'default'"
                [icon]="'join_left'"
                [color]="'primary'"></custom-icon>
            <div>
                <small>Jogo de abertura?</small>
                <p *ngIf="estadio?.openingMatch">
                    Sim
                </p>
                <p *ngIf="!estadio?.openingMatch">
                    Não
                </p>
            </div>
        </div>
    
        <div class="item">
            <custom-icon
                [appearence]="'default'"
                [icon]="'join_right'"
                [color]="'primary'"></custom-icon>
            <div>
                <small>Final da copa?</small>
                <p *ngIf="estadio?.finalMatch">
                    Sim
                </p>
                <p *ngIf="!estadio?.finalMatch">
                    Não
                </p>
            </div>
        </div>

    </div>

</div>
