<header>
    <h2>Nome do estádio</h2>
    <small>
        Localizado no Catar, palco da Copa do Mundo FIFA 2022
    </small>
</header>

<div class="alert">
        <custom-icon
            [appearence]="'default'"
            [icon]="'join_left'"
            [color]="'primary'"></custom-icon>
        <span>
            Este estádio será o palco do <strong>jogo de abertura</strong>!
        </span>
</div>

<div class="alert">
    <custom-icon
        [appearence]="'default'"
        [icon]="'join_right'"
        [color]="'primary'"></custom-icon>
    <span>
        Este estádio será o palco da <strong>final da copa do mundo</strong>!
    </span>
</div>

<div class="content">

    <div class="item">
        <custom-icon
            [appearence]="'default'"
            [icon]="'sticky_note_2'"
            [color]="'primary'"></custom-icon>
        <div>
            <small>Código da figurinha</small>
            <p>
                FWC8
            </p>
        </div>
    </div>

    <div class="item">
        <custom-icon
            [appearence]="'default'"
            [icon]="'groups'"
            [color]="'primary'"></custom-icon>
        <div>
            <small>Capacidade</small>
            <p>
                40000 torcedores
            </p>
        </div>
    </div>

    <div class="row">

        <div class="item">
            <custom-icon
                [appearence]="'default'"
                [icon]="'join_left'"
                [color]="'primary'"></custom-icon>
            <div>
                <small>Jogo de abertura?</small>
                <p>
                    Não
                </p>
            </div>
        </div>
    
        <div class="item">
            <custom-icon
                [appearence]="'default'"
                [icon]="'join_right'"
                [color]="'primary'"></custom-icon>
            <div>
                <small>Final da copa?</small>
                <p>
                    Não
                </p>
            </div>
        </div>

    </div>

</div>
